<form (ngSubmit)="getWeatherForecast()" class="weather-form">
  <input type="text" [(ngModel)]="model.city" name="city" required class="form-control" placeholder="Enter city" />
  <button type="submit" class="btn btn-primary mt-3">Get Weather</button>
</form>

<div *ngIf="forecast$ | async as forecast" class="forecast-container mt-5">
  <div class="row">
    <div class="col-md-4" *ngFor="let entry of forecast.list | slice:0:7">
      <app-forecast-card [forecast]="entry"></app-forecast-card>
    </div>
  </div>
</div>
