<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/weather-admin">Weather Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/day-admin">Day Admin</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
